:host {

    .budget {
        &__container {
            display: flex;
            flex-direction: row;
            gap: 16px;
            flex-wrap: wrap;
        }

        &__actions_container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            // --mat-form-field-outlined-label-text-color: #000;
            // --mat-form-field-outlined-outline-color: #000;
            // --mat-form-field-subscript-text-line-height: 0px;
            // --mat-form-field-outlined-input-text-color: #000;


            form {
                display: flex;
                gap: 10px;
                align-items: center;
            }

            ::ng-deep {
                .mat-mdc-form-field-bottom-align::before {
                    content: none !important;
                }
            }
        }
    }
}